-- CORREÇÃO: Funções com tipos compatíveis com o código

-- 1. LIMPEZA
DO $$
DECLARE func RECORD;
BEGIN
  FOR func IN 
    SELECT oid::regprocedure 
    FROM pg_proc 
    WHERE proname IN ('register_almox_device', 'verify_almox_device', 'almox_adjust_item_quantity')
  LOOP
    EXECUTE 'DROP FUNCTION IF EXISTS ' || func.oid::regprocedure || ' CASCADE';
  END LOOP;
END $$;

-- 2. FUNÇÃO: Registrar dispositivo (obra_id como BIGINT)
CREATE FUNCTION register_almox_device(
  p_code TEXT,
  p_device_name TEXT,
  p_password TEXT
)
RETURNS TABLE(
  device_id UUID,
  obra_id BIGINT,
  obra_nome TEXT,
  success BOOLEAN,
  message TEXT
) AS $$
DECLARE
  v_access_code RECORD;
  v_device_id UUID;
  v_password_hash TEXT;
BEGIN
  SELECT * INTO v_access_code
  FROM almox_access_codes
  WHERE code = p_code
    AND (expires_at IS NULL OR expires_at > NOW())
    AND active = true
  LIMIT 1;

  IF v_access_code IS NULL THEN
    RETURN QUERY SELECT NULL::UUID, NULL::BIGINT, NULL::TEXT, false, 'Código inválido ou expirado';
    RETURN;
  END IF;

  SELECT id INTO v_device_id
  FROM almox_access_devices
  WHERE access_code_id = v_access_code.id AND device_name = p_device_name;

  IF v_device_id IS NOT NULL THEN
    RETURN QUERY SELECT v_device_id, v_access_code.obra_id, NULL::TEXT, false, 'Dispositivo já registrado';
    RETURN;
  END IF;

  v_password_hash := crypt(p_password, gen_salt('bf'));

  INSERT INTO almox_access_devices (access_code_id, obra_id, device_name, password_hash, active)
  VALUES (v_access_code.id, v_access_code.obra_id, p_device_name, v_password_hash, true)
  RETURNING id INTO v_device_id;

  RETURN QUERY 
    SELECT v_device_id, v_access_code.obra_id, o.nome::TEXT, true, 'Dispositivo registrado com sucesso'::TEXT
    FROM obras o WHERE o.id = v_access_code.obra_id;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 3. FUNÇÃO: Verificar dispositivo (obra_id como BIGINT)
CREATE FUNCTION verify_almox_device(
  p_obra_id BIGINT,
  p_device_name TEXT,
  p_password TEXT
)
RETURNS TABLE(
  device_id UUID,
  obra_id BIGINT,
  is_valid BOOLEAN,
  message TEXT
) AS $$
DECLARE
  v_device RECORD;
BEGIN
  SELECT d.id, d.obra_id, d.password_hash, d.active INTO v_device
  FROM almox_access_devices d
  WHERE d.obra_id = p_obra_id AND d.device_name = p_device_name AND d.active = true
  LIMIT 1;

  IF v_device IS NULL THEN
    RETURN QUERY SELECT NULL::UUID, p_obra_id, false, 'Dispositivo não encontrado ou inativo';
    RETURN;
  END IF;

  IF v_device.obra_id != p_obra_id THEN
    RETURN QUERY SELECT NULL::UUID, p_obra_id, false, 'Dispositivo não autorizado para esta obra';
    RETURN;
  END IF;

  IF v_device.password_hash = crypt(p_password, v_device.password_hash) THEN
    UPDATE almox_access_devices SET last_access_at = NOW() WHERE id = v_device.id;
    RETURN QUERY SELECT v_device.id, v_device.obra_id, true, 'Autenticado com sucesso';
  ELSE
    RETURN QUERY SELECT NULL::UUID, p_obra_id, false, 'Senha incorreta';
  END IF;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 4. FUNÇÃO: Ajustar quantidade (p_delta em vez de p_quantidade_change)
CREATE FUNCTION almox_adjust_item_quantity(
  p_item_id UUID,
  p_delta INTEGER
)
RETURNS TABLE(success BOOLEAN, new_quantidade NUMERIC, message TEXT) AS $$
DECLARE
  v_item RECORD;
  v_new_quantidade NUMERIC;
BEGIN
  SELECT * INTO v_item FROM almox_items WHERE id = p_item_id FOR UPDATE;

  IF v_item IS NULL THEN
    RETURN QUERY SELECT false, 0::NUMERIC, 'Item não encontrado';
    RETURN;
  END IF;

  v_new_quantidade := v_item.quantidade + p_delta;

  IF v_new_quantidade < 0 THEN
    RETURN QUERY SELECT false, v_item.quantidade, 'Quantidade insuficiente em estoque';
    RETURN;
  END IF;

  UPDATE almox_items SET quantidade = v_new_quantidade, updated_at = NOW() WHERE id = p_item_id;
  RETURN QUERY SELECT true, v_new_quantidade, 'Quantidade atualizada com sucesso';
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

SELECT ' Funções corrigidas com tipos compatíveis!' AS status;
